div.wdq_editor_block {
	vertical-align:top;
	display:inline-block;
}
div.wdq_editor_main_block_wrapper {
	overflow-x:auto;
	font-size:9pt;
}
div.wdq_editor_main_block {
	width: auto;
	white-space: nowrap;
	margin:5px;
}
div.wdq_editor_command {
	margin-left:3px;
	margin-right:3px;
}
div.wdq_editor_command_header {
	font-style: italic;
	background-color:#EAF1FB;
}
select.wdq_editor_command_header {
	background-color:#EAF1FB;
	border:none;
}
div.wdq_editor_command_section {
	margin-top:5px;
	border-top:3px solid #DDD;
	padding-top:1px;
}
div.wdq_editor_qualifier {
	margin-top:5px;
	border-top:3px solid #DDD;
	padding-top:1px;
}
div.wdq_editor_qualifier_header {
	background-color:#EAFFEF;
}
div.wdq_editor_qualifier_body {
	margin-top:5px;
}
div.wdq_editor_command_section_header {
	background-color:#EEE;
}
div.wdq_editor_command_section_part {
	margin-bottom:5px;
	border-top:1px solid #EEE;
	padding-top:1px;
}
div.wdq_editor_round_brackets {
	border-left:5px solid #EEE;
	border-right:5px solid #EEE;
	margin:5px;
	display:inline-block;
	border-top:5px solid #EEE;
	padding-top:2px;
	margin-bottom:0px;
}
input.wdq_editor_query {
	width:90%;
}

div.wdq_editor_span {
	display:inline-block;
	cursor:pointer;
	white-space:nowrap;
	min-width:120px;
	min-height:10px;
}
div.wdq_editor_span_prop {
	background-color:#F9F9DD;
}
div.wdq_editor_span_item {
	background-color:#FFEBD9;
}
div.wdq_editor_span_float,div.wdq_editor_span_date {
	background-color:#F3E7E7;
}

#wdq_editor_dropdown {
	background-color:white;
	border:2px solid #DDD;
	padding:2px;
	width:300px;
	height:300px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	font-size:11pt;
	font-family:Arial,Courier;
	overflow:auto;
}

#wdq_editor_dropdown_close {
	cursor:pointer;
	float:right;
	padding:3px;
}

div.wdq_editor_dropdown_title {
	font-size:14pt;
	font-family:Times New Roman;
	padding-bottom:3px;
	margin-bottom:2px;
	border-bottom:1px solid #EEE;
}

#wdq_editor_dropdown_select {
	margin-top:5px;
	width:100%;
}
#wdq_editor_dropdown_searching {
	display:none;
}
#wdq_editor_dropdown_autodesc {
	font-size:9pt;
}
#wdq_editor_command_float {
	cursor:pointer;
	float:right;
/*
	display:inline-block;
	text-align:right;
	float:right;
	margin-right:2px;
	margin-top:2px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	border:1px solid #EEE;
	padding:2px;
	background-color:white;*/
}

.wdq_editor_a_remove {
/*	background-color:#FF8A8A;
	color:white;*/
}
.wdq_editor_a_add {
/*	background-color:#4AE371;
	color:white;*/
}
select.wdq_editor_a_command {
	font-size:8pt;
	display:none;
}

.wdq_hover_root_highlight {
/*	border:1px solid black;*/
}

.wdq_editor_command_section_part_float {
	cursor:pointer;
	display:none;
	float:right;
}
.wdq_editor_a_qualifier {
	cursor:pointer;
}
.wdq_editor_problem {
	color:red;
}
div.wdq_editor_a_add_qualifier_parts {
	cursor:pointer;
}