<div class="navbar-inner">
	<div class="container">
	
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</a>
		
		<a id='toolname' class="brand" href="?"></a>
		
		
		<ul id="toolbar-right" class="nav pull-right">
			<li><a href='/'>Main page</a></li>
<!--			<li><a href='//toolserver.org/~magnus'>Old tools</a></li>
			<li><a id='discuss_link'>Discuss</a></li>
			<li><a href='https://jira.toolserver.org/browse/MAGNUS'>Report bugs</a></li>-->
			<li><a style='margin:0px;padding:0px;margin-top:4px' href="//wikitech.wikimedia.org/wiki/Main_Page"><img src='//wikitech.wikimedia.org/w/images/c/cf/Labslogo_thumb.png' title='Powered by Wikimedia Labs' border=0 width='32px' /></a></li>
		</ul>
		
	</div>
</div>
