<div id='tusc_container'>
	<form class='form-inline' id='tusc_form'>
		TUSC login
		<input type='text' id='tusc_user' class='input-medium' placeholder='User name' />
		<input type='password' id='tusc_pass' class='input-medium' placeholder='TUSC password' />
		<button id='tusc_submit' type="submit" class="btn">Log in</button>
		<span id='tusc_message'></span>
		<br/><label><input type='checkbox' id='tusc_remember' checked> Remember me on this computer</label>
		| <a href='/~magnus/tusc.php' target='_blank'>Register TUSC account</a>
	</form>
</div>
